<!DOCTYPE html>
<html>
  <head>
    <title>Editar Reserva</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Editar Reserva</h1>

      <form action="/api/reservas/editar/<%= reserva.id %>" method="post">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            value="<%= reserva.nombre %>"
            required
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="fechaReserva" class="form-label">Fecha de Reserva:</label>
          <input
            type="date"
            id="fechaReserva"
            name="fechaReserva"
            value="<%= reserva.fechaReserva %>"
            required
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </body>
</html>
